body {
  margin: 0;
  font-family: 'Poppins';
  background-color:#1a1d24;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  
}
